{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="grid grid-cols-1 md:grid-cols-3 gap-4 p-4">
		{{ include("utils/widget.html.twig", { total: 100, subtitle: "Nombre total de employés", title: "Employés", icon: "fas fa-users" }) }}
		{{ include("utils/widget.html.twig", { total: 12, subtitle: "Département dans le société", title: "Départements", icon: "fas fa-building" }) }}
		{{ include("utils/widget.html.twig", { total: 100, subtitle: "Nombre total de postes", title: "Postes", icon: "fas fa-briefcase" }) }}

	</div>

{% endblock %}
