{% extends 'base.html.twig' %}

{% block title %}Personnelle !{% endblock %}

{% block body %}

<div class="example-wrapper">
  <a href="{{ path('app_staff_create') }}" class=" btn btn-primary"> Créer nouveau  personne </a>
{% endblock %}
